/*single-header*/
.single-landing-layer{
     background: url("../../img/Single-nav-bg.jpg")no-repeat center center/cover;
     min-height: 250px;
     border-bottom: 5px solid #4d84ff;
 }
.single-landing-layer h1{
    font-size: 28px;
    padding-top: 60px;
}
.single-landing-layer h1 a{
    color: #fff;
}
.single-landing-layer h1 a:hover{
    color: #04afff;
}
#single-landing-layer-container{
    padding: 0px;
}
#post-author-image{
    float: right;
}
.single-landing-layer img{
    margin: 50px;

}
/*single-content*/
.single-post-meta{
    border-radius: 3px 3px 0 0;
    background: #03A9f4;
    padding: 7px 14px;
    border: 1px solid #efefef;
    text-align: center;
}
.single-post-meta ul{
    margin: 0;
}
.single-post-meta ul li{
    margin: 0 20px;
    color: #ffffff;
}
.single-post-meta ul li i{
    color: #fff;
    vertical-align: -5px;
    margin-left: 10px;
}
.single-post-meta ul li:last-child i{
    color: #fff600;
}
.all-content{
    padding: 10px 30px;
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
.all-content img{
    margin: 0 auto;
    display: inherit;
    border-radius:3px;
    border: 2px solid #efefef;
    padding: 5px;
}
.tags-section{
    border-top: 1px solid #efefef;
    padding: 15px;
}
.tags-section ul{
    margin: 0px;
}
.tag{
    background: #eee;
    border-right: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0px 20px 23px;
    position: relative;
    /*margin: 0 10px 10ps 0;*/
    text-decoration: none;
    -webkit-transition: color 0.2s;
}
.tag::before{
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0,0,0,0.25);
    content:'';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}
.tag::after{
    background: #fff;
    border-bottom: 13px solid transparent;
    border-right:10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    left:0;
    top: 0;
}
.tag:hover{
    background-color: #dc143c;
    color: white;
}
.tag:hover::after {
    border-right-color: #dc143c;
}
.my-video-js-style{
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 5px 0px #b7b7b7;
    box-shadow: 0px 1px 5px 0px #b7b7b7;
    margin: 20px 0;
    border-radius: 3px;
    background: white;

}
.related-post-section-title,.comment-section-title{
    font-size: 16px;
    font-weight: bold;
    background: #03A9f4;
    color: #fff;
    padding: 7px;
}
#custom-owl-carousel{
    padding-top: 15px;
}
/* Comment Section*/
.media{
    padding: 10px;
    margin-top: 0!important;
}
.media-right,.media,.media-body{
    display: table-cell;
    vertical-align: top;
}
.comment-line{
    border-bottom: 1px solid #b4c6cd;
    position: absolute;
    top: 31px;
    right: 60px;
    padding: 0 25px;
}
#custom-media-right,#custom-media-right-second{
    position: relative;
}
#custom-media-object,#custom-media-object-second{
    border: 1px solid #efefef;
    padding: 5px;
    margin-left: 50px;
    box-shadow:1px 1px 1px 1px #efefef;
}
.user-comment{
    border: 1px solid #efefef;
    width: 1110px;
    border-radius: 4px;
}
.user-comment ul{
    border-bottom: 1px solid #efefef;
    padding: 6px 10px;
    font-size: 12px;
    color: #8a8888;
}
.user-comment ul li.comment-answer, li.comment-edit{
    float: left;
}
.user-comment ul li{
    margin-left: 10px;
}
.user-comment ul li i,.sent-comment i{
    vertical-align: -5px;
    margin-left: 5px;
}
.user-comment p{
    padding-right: 10px;
}
.comment-answer-section{
    margin-right: 50px;
    display: block;
}
#comment-question{
    background:#faf6ff;
}
.comment-btn-sent{
    float:left;
}
.sent-comment{
    padding: 10px;
}
/* single sidebar*/
#custom-nav-tabs{
    border-bottom: 0 none;
}
#custom-nav-tabs li{
    margin-right: 3px;
}
#custom-nav-tabs li a{
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius:0;
    background: #efefef;
    position: relative;
}
#custom-nav-tabs li.active a:after{
    content:'';
    position: absolute;
    bottom: -12px;
    right: 0;
    border-bottom:15px solid transparent;
    border-right: 15px solid #03A9f4 ;
}
#custom-nav-tabs li.active a,
#custom-nav-tabs li.active a:focus,
#custom-nav-tabs li.active a:hover{
    border: none;
    background: #03A9f4;
    color:#ffff;
    transition:all 0.1s linear 0s;
}
#cumstom-tab-content{
    font-size: 15px;
    color: #808080;
    border: none;
    line-height: 25px;
    margin-top: 25px;
    padding: 0 24px 0 0;

}
.btn-styel button{
    background-color: #03A9f4;
}
.single-list-icon{
    right: 10px;
    margin-top:-30px;
}